@{
    Layout = "_LayoutAdmin";
}

<div class="container mt-4">
    <h2 class="text-primary">BẢNG ĐIỀU KHIỂN</h2>
    <hr />

    <div class="alert alert-info">
        Chào mừng bạn đến với trang quản trị ThaiCMS.
    </div>
</div>